
<table>
  <tr>
    <th><%= (forward ? 'OutgoingMoves' : 'IncomingMoves') %></th>
  </tr>

<% @moves.each do |move| %>
  <tr>
    <td><%= link_to move.move, forward ? move.end_node : move.start_node %></td>
  </tr>
<% end %>
</table>