<h1>Listing positions</h1>

<table>
  <tr>
    <th>FEN</th>
    <th></th>
  </tr>

<% @positions.each do |position| %>
  <tr>
    <td><%= position.fen %></td>
    <td><%= link_to 'Show', position %></td>
  </tr>
<% end %>
</table>