
<%= form_for @comment, as: :comment, url: position_comments_path(@position,@comment), :html => {:class => 'well'} do |f| %>
  <fieldset>
    <legend>Add Comment</legend>
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :title, :placeholder => 'Title' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.text_area :body, :rows => 3, :class => "span12", :placeholder => 'Your comment ...' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
