<% if @comments.empty? %>
There were no comments found.
<br><br>
<% else %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Comment
        </th>
      </tr>
    </thead>
  <% @comments.each do |comment| %>
    <tr>   
      <th><%= comment.title %></th>
      <td><%= comment.body %>
        <br>
        <div class="pull-right">
          <%= link_to 'Destroy', position_comment_path(@position, comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini" %>
        </div>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<% @comment = Comment.new %>
<%= render 'comments/form', :object => @comment %>