<div class="hero-unit">
    <h1>Heading</h1>
	<p>Tagline</p>
	<p>
	    <%= link_to 'Search', search_index_path, :class => "btn btn-primary btn-large" %>
	    <%= link_to 'Traverse', traverse_home_index_path, :class => "btn btn-primary btn-large" %>
		<%= link_to 'Upload', upload_pgn_index_path, :class => "btn btn-primary btn-large" %>
	</p>
</div>