<div class="jumbotron masthead">
	<div class="container">
	    <h1>Welcome to neo4chess!</h1>
		<p>The chesspositions traverser based on the neo4j graphdatabase.</p>
		<p>
		    <%= link_to 'Search', search_index_path, :class => "btn btn-inverse btn-large" %>
		    <%= link_to 'Traverse', traverse_home_index_path, :class => "btn btn-inverse btn-large" %>
			<%= link_to 'Upload', upload_pgn_index_path, :class => "btn btn-inverse btn-large" %>
			<%= link_to 'Benchmark', benchmark_home_index_path, :class => "btn btn-inverse btn-large" %>
		</p>
	</div>
</div>